// this is under global.less,  if it is in .svelte the css is discarded,  since the elements are not yet created in svelte,  todo:  use svelte properly
@import './src/infoWin_style_global.less';
@name: windy-plugin-airspaces;


#@{name}-info {

    .list-line-div {
        margin     : 2px;
        border     : 0px;
        font-size  : 13px;
        line-height: 1.3;
        margin-left: 15px;

        .bullet {
            height       : 8px;
            width        : 8px;
            border-radius: 8px;
            border       : 1px solid;
            display      : inline-block;
            margin-right : 10px;
            opacity      : 0;
        }

        .list-line-div-txt {
            cursor       : pointer;
            border-radius: 3px;
            width        : fit-contents;
            opacity      : 0.8;
        }

        &.highlight {
            .list-line-div-txt {
                font-weight: bold;
                //font-size: 14px;
                opacity    : 1;
            }

            .bullet {
                opacity: 1;
            }
        }

        .message {
            display: none;
        }

        &.loading-asp .message {
            display: inline-block;
        }

        .closing-x-small {
            //font-family: iconfont;
            //font-variant: normal;
            text-transform  : none;
            line-height     : 1.3;
            color           : white;
            background-color: #9d0300;
            cursor          : pointer;
            position        : absolute;
            margin          : 2px 0px 0px 12px;
            font-size       : 10px;
            z-index         : 10;
            width           : 1.3em;
            height          : 1.3em;
            border-radius   : 1.3em;
            display         : none;
            opacity         : 0.5;
            text-align      : center;
        }

        .closing-x-small::before {
            content: '\\2716';
        }

        &:hover .closing-x-small {
            opacity: 1;
        }

        &:hover .list-line-div-txt {
            background-color: rgba(0, 0, 0, 0.3);
            padding         : 0px 4px 0px 4px;
        }

        &.hidden {
            display: none;
        }
    }
}